$primary: #0d6efd;
$secondary: #fff;
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: $secondary;
  color: $primary;
  text-align: center;
}

.float:hover {
  width: 65px;
  height: 65px;
  background-color: $primary;
  color: $secondary;
  transition: all 0.3s ease;
}
@media (max-width: 768px) {
  .float {
    background-color: $primary;
    color: $secondary;
    transition: all 0.3s ease;

    text-align: center;
  }
}

.my-float {
  margin-top: 35%;
  border-color: $primary;
}
