<div class="mx-auto bg-bone">
   <div class="card-header bg-dark test-bone text-center h4 p-3">
       Mis tareas
   </div>
   <div class="card-body container">
    <div class="list-group">
        <label class="list-group-item pt-4 pb-4">
            <input class="form-check-input me-1" type="checkbox" value="">
            Cras justo odio
        </label>
        <label class="list-group-item pt-4 pb-4">
            <input class="form-check-input me-1" type="checkbox" value="">
            Dapibus ac facilisis in
        </label>
        <label class="list-group-item pt-4 pb-4">
            <input class="form-check-input me-1" type="checkbox" value="">
            Morbi leo risus
        </label>
        <label class="list-group-item pt-4 pb-4">
            <input class="form-check-input me-1" type="checkbox" value="">
            Porta ac consectetur ac
        </label>
        <label class="list-group-item pt-4 pb-4">
            <input class="form-check-input me-1" type="checkbox" value="">
            Vestibulum at eros
        </label>
    </div>
   </div>
</div>