<div class="card mx-auto bg-bone">
    <div class="card-header bg-dark text-bone text-center h4 p-3">Mis tareas</div>
    <div class="card-body container">
        <!-- Inicio listar tareas -->
        <div class="mb-3 mt-1">
            <!-- Tareas Pendientes -->
            <h3 class="m-1">Pendientes</h3>
            <div class="d-list-group">
                <div *ngFor="let task of tasks">
                    <div class="d-list-group-item group-items" *ngIf="!task.completed" appHighlight [@expand]>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheck"
                                [checked]="task.completed" (click)="changeState(task)" />

                            <label for="flexSwitchCheck">
                                {{ task.title }}</label>
                        </div>
                        <div class="ms-auto">
                            <button class="btn btn-outline-success m-1"><i class="fas fa-pen"></i></button>
                            <button class="btn btn-outline-danger m-1"><i class="fas fa-trash"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Tareas completadas -->
        <div class="mb-3 mt-1">
            <h3 class="m-1">Completadas</h3>
            <div class="d-list-group">
                <div *ngFor="let task of tasks">
                    <div class="d-list-group-item group-items" *ngIf="task.completed" appHighlight [@expand]>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheck"
                                [checked]="task.completed" (click)="changeState(task)" />


                            <label class="form-check-title" for="flexSwitchCheck">
                                {{ task.title }}</label>
                        </div>
                        <div class="ms-auto">
                            <button class="btn btn-outline-success m-1" [disabled]="task.completed"><i
                                    class="fas fa-pen"></i></button>
                            <button class="btn btn-outline-danger m-1"><i class="fas fa-trash"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fin listar tareas -->
    </div>
</div>