<div class="col-md-6 mx-auto abs-center" [@expand]>
    <div class="card bg-white">
        <div class="card-header bg-dark text-white text-center h4 p-3">
            Restablecer contraseña
        </div>
        <div class="card-body m-4">
            <form novalidate [formGroup]="restorePasswordForm" (ngSubmit)="onSubmit(restorePasswordForm.value)">
                <div class="mb-3">
                    <label for="email" class="form-label h4">Correo electrónico</label>
                    <input type="email" class="form-control" id="email" formControlName="email" [class.is-invalid]="
              restorePasswordForm.get('email').invalid &&
              (restorePasswordForm.get('email').dirty ||
                restorePasswordForm.get('email').touched)
            " [class.is-valid]="
              restorePasswordForm.get('email').valid &&
              restorePasswordForm.get('email').dirty
            " />
                    <!-- Inicio de alerta -->
                    <div class="d-alert-danger">
                        <div class="container-error-message" *ngIf="
                restorePasswordForm.get('email').hasError('required') &&
              ( restorePasswordForm.get('email').touched ||  restorePasswordForm.get('email').dirty)
              ">
                            El correo electrónico es requerido
                        </div>
                        <div class="container-error-message" *ngIf="
                restorePasswordForm.get('email').hasError('pattern') &&
                restorePasswordForm.get('email').dirty
              ">
                            El correo electrónico no es valido
                        </div>
                    </div>
                    <!-- Fin de alerta -->
                    <!-- {{signupForm.get('email').errors | json}} -->
                </div>
                <button class="btn btn-primary d-grid col-6 mx-auto" [disabled]="restorePasswordForm.invalid">
                    Enviar correo
                </button>
            </form>
            <hr />
            <div class="d-grid col-6 mx-auto text-center">
                <a class="btn btn-outline-secondary" [routerLink]="['/signin']">Iniciar sesión</a>
            </div>
        </div>
    </div>
</div>