<div *ngIf="verified">
    <div class="col-md-6 mx-auto abs-center" [@expand]>
        <div class="card bg-white">
            <div class="card-header bg-dark text-white h4 text-center p-3">
                Restablecer contraseña
            </div>
            <div class="card-body m-4">
                <form novalidate [formGroup]="restorePasswordTokenForm"
                    (ngSubmit)="onSubmit(restorePasswordTokenForm.value)">

                    <div class="mb-3">
                        <label for="inputPassword" class="form-label h4">Contraseña</label>
                        <input type="password" class="form-control" id="inputPassword" formControlName="password"
                            [class.is-invalid]="
                            restorePasswordTokenForm.get('password').invalid &&
                    (restorePasswordTokenForm.get('password').dirty ||
                    restorePasswordTokenForm.get('password').touched)
                  " [class.is-valid]="
                  restorePasswordTokenForm.get('password').valid &&
                  restorePasswordTokenForm.get('password').dirty 
                  " />
                        <!-- Inicio de alerta -->
                        <div class="d-alert-danger">
                            <div class="container-error-message" *ngIf="
                            restorePasswordTokenForm.get('password').hasError('required') &&
                      (restorePasswordTokenForm.get('password').dirty ||
                      restorePasswordTokenForm.get('password').touched)
                    ">
                                La contraseña es requerida
                            </div>
                            <div class="container-error-message" *ngIf="
                            restorePasswordTokenForm.get('password').hasError('pattern') &&
                            restorePasswordTokenForm.get('password').dirty
                    ">
                                La contraseña debe tener:<br />
                                > Entre 6 y 26 caracteres<br />
                                > Al menos un numero<br />
                                > Al menos una minúscula <br />
                                > Al menos una mayúscula
                            </div>
                        </div>

                        <!-- Fin de alerta -->
                        <!-- {{signupForm.get('password').errors | json}} -->
                    </div>

                    <div class="mb-3">
                        <label for="repeatPassword" class="form-label h4">Confirmar contraseña</label>
                        <input type="password" class="form-control" id="repeatPassword" formControlName="repeatPassword"
                            [class.is-invalid]="
                            restorePasswordTokenForm.get('repeatPassword').invalid &&
                    (restorePasswordTokenForm.get('repeatPassword').dirty ||
                    restorePasswordTokenForm.get('repeatPassword').touched)
                  " [class.is-valid]="
                  restorePasswordTokenForm.get('repeatPassword').valid &&
                  restorePasswordTokenForm.get('repeatPassword').dirty
                  " />
                        <!-- Inicio de alerta -->
                        <div class="d-alert-danger">
                            <div class="container-error-message" *ngIf="
                            restorePasswordTokenForm.get('repeatPassword').hasError('required') &&
                      (restorePasswordTokenForm.get('repeatPassword').dirty ||
                      restorePasswordTokenForm.get('repeatPassword').touched)
                    ">
                                La contraseña de confirmación es requerida
                            </div>
                        </div>

                        <!-- Fin de alerta -->
                        <!-- {{signupForm.get('password').errors | json}} -->
                    </div>

                    <button class="btn btn-primary d-grid col-6 mx-auto" style="margin-top: 2.1875rem;margin-bottom: 2.1875rem;" [disabled]="restorePasswordTokenForm.invalid">
                        Restablecer contraseña
                    </button>
                </form>
                <hr />
                <div class="d-grid col-6 mx-auto text-center" style="margin-top: 2.1875rem;">
                    <a class="btn btn-outline-secondary" [routerLink]="['/signin']">Iniciar sesión</a>
                </div>
            </div>
        </div>
    </div>
</div>